<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.ate.stdf.io.write" name="org.ate.stdf.io.write" schema="schema/org.ate.stdf.io.write.exsd"/>
   <extension-point id="org.ate.stdf.io.read" name="org.ate.stdf.io.read" schema="schema/org.ate.stdf.io.read.exsd"/>

</plugin>
